html {
    height: 100%;
}

body {
    height: 100%;
}

h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.badge {
    max-height: 100%;
    max-width: 25em;
}

img.badge {
    max-width: 19em;
}

.display {
    max-height: 10px;
}

.inv {
    display: none;
}

.new_teams {
    margin-bottom: 2em;
}

.body {
    height: 100%;
}

.form {
    height: 100%;
    text-align: center;
}

.form_group {
    margin-bottom: 4em;
}

.players_button {
    margin-top: 3em;
}

.teams_board {
    height: 80%;
}