{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<body class="body">
    <div class="form container d-flex justify-content-center align-items-center">
        <form action="/teams/" method = "POST" autocomplete="off">
            <div class="form_group container">
                <div class="row">
                    <div class="col">
                        <h3>Player 1</h3>
                        <input type = "text" name = "Player1" />
                    </div>
                    <div class="col">
                        <h3>Player 2</h3>
                        <input type = "text" name = "Player2" />
                    </div>
                </div>
                <button type="submit" class="players_button btn btn-secondary">Submit</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}